---
import Header from "../components/Header.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <Header/>
    <div  class="container">
        <div class="form-container">
            <h1>Register</h1>
            <form action="/register" method="post" id="register-form">
                <label>
                    <p>First-name:</p> <input type="text" id="fname" name="fname">
                </label>
                <label>
                    <p>Last-name:</p> <input type="text" id="lname" name="lname">
                </label>
                <label>
                    <p>Age:</p> <input type="number" id="age" name="age">
                </label>
                <label>
                    <p>Nationality:</p> <input type="text" id="nationality" name="nationality">
                </label>
                <label>
                    <p>Mail:</p> <input type="text" id="mail" name="mail">
                </label>
                <label>
                    <p>Username:</p> <input type="text" id="username" name="username">
                </label>
                <label>
                    <p>Password:</p> <input type="password" id="password" name="password">
                </label>
                <button  class="submit-user" type="submit">Create Account</button>
            </form>
        </div>
        <div class="register-image">
            <img src="/public/shop.png" alt="Register image">
        </div>
    </div>
</Layout>

<script>
    const register = document.querySelector("#register-form") as HTMLFormElement
    register.addEventListener("submit",async(e)=>{
        e.preventDefault()

        // pass the data
        const formdata = new FormData(e.target as HTMLFormElement)
        const formObj = Object.fromEntries(formdata.entries())

        const res = await fetch("http://localhost:3000/register",{
            method: "POST",
            credentials: "include",
            headers:{
                "Content-Type": "application/json"
            },
            // send the data
            body: JSON.stringify(formObj)
        })

        if(!res.ok){
            window.location.href = "/register"
            return
        }

        window.location.href = "/login"
    })
</script>

<style>
    *{
        box-sizing: border-box;
    }
    .container{
        display: grid;
        grid-template-columns:repeat(2,1fr);
        grid-template-rows: auto;

    }
    .form-container{
        display: flex;
        flex-direction: column;
    }
    .form-container > h1{
        font-size: 4em;
        text-align: center;
    }
    #register-form{
        display: flex;
        flex-direction: column;
        gap:1em;
    }
    #register-form > label{
        font-size: 3em;
        margin: 0 1em;
        width: -100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    #register-form > label >p{
        width: 50%;
    }
    #register-form > label >input{
        margin: 0 auto;
        height: 2.5em;
        border-radius: 10px;
        width: 20em;
    }

    .submit-user{
        font-size: 1em;
        border: none;
        color: white;
        background-color: black;
        width: 20%;
        margin: 0 auto;
        height: 3em;
    }
    .register-image{
        display: flex;
        justify-content: center;
    }
</style>